# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore video recordings and diagnostic data
recordings/

# Ignore the Poetry virtual environment
.poetry/

# Ignore the Poetry lock file
poetry.lock

# Ignore the Poetry cache
.venv/
